<Style>
    h1{
        color:hsl(0, 12%, 10%);
        background-color: cyan;
        height:100px;
        width:50%;
        
    }
    p{
        color: rgb(23, 116, 30);
        column-gap: normal;
        font-size: 20px;
        font-weight: bolder;
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    img{
        height: 25%;
        width:25%
    }
    #birthday{
        font-size: x-large;
        color: rgb(0, 0, 0);
        background-color: rgb(136, 208, 230);

    }
    #chicken{
        color: chartreuse;
        background-color: crimson;
        width:60%;
    }
    .friend{
        background-color: rgb(3, 3, 2);
        color: rgb(37, 240, 240);
        font-style: oblique;
        width: 40%;
        background-position: 50%;
        background-repeat: repeat;
        margin: 200px 20px;
    }
    h1.friend{
        font-weight:bolder;
        font-size: 300%;
    }
    .neighbor{
        width: 200px;
    }
    .believer{
        font-weight: bolder;
        color:black ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .blog{
        border: 2px solid rgba(6, 31, 6, 0.979);
        border-radius: 20px;
        margin: 2px;
        width: 29%;
        display: inline-block;
    }
    h3{
        text-align: center;
    }
    p{
        text-align: justify;
    }
</Style>